.tabsRoot {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.tabsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1875rem;
    background-color: var(--color-gray-200);
    padding: 0.1875rem;
    border-radius: 0.75rem;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.tabsTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: calc(100% - 0.0625rem);
    flex: 1;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    padding: 0.5rem 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    transition:
        color 0.2s,
        box-shadow 0.2s,
        background-color 0.2s;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-gray-700);
    outline: none;
}

.tabsTriggerActive {
    background-color: var(--color-white);
    color: var(--color-gray-900);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.tabsTrigger:not(.tabsTriggerActive):hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-gray-900);
}

.tabsTrigger:focus-visible {
    box-shadow: 0 0 0 3px
        color-mix(in srgb, var(--color-indigo-600) 50%, transparent);
    outline: 1px solid var(--color-indigo-600);
}

/* Disabled state */
.tabsTrigger:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.tabsContent {
    flex: 1;
    outline: none;
}

.tabsContent:focus-visible {
    outline: 2px solid var(--color-indigo-600);
    outline-offset: 2px;
}
